@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "inter", sans-serif;

}

:root{
    --black: #020402;
    --reseda-green: #758173;
    --green: #C5EFCB;
    --white: #FFF;
}
body{
    background-color: var(--black);
    height: 100vh;
    display: flax;
    justify-content:center;
    align-items: center;
}
div{
    background-color: var(--reseda-green);
    color: var(--white);
    width: 384px;
    text-align: center;
    border-radius: 12px;
    padding: 40px;
}
img{
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;

}
h1{
    font-size: 24px;
    font-weight:600;
    margin-bottom: 4px;
}
strong{
    color: var(--white);
    font-size: 14px;
}
p{
    margin-block: 24px;
    font-size: 14px;
}

ul, li {
    list-style: none;
}

a {
    display:block;
    background-color: va(--reseda-green);
    margin-bottom: 16px;
    padding: 12px;
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight:700;
    border-radius: 8px;

}
a:hover{
    background-color: var(--green);
    color: var(--black);
    transition: 0.4s;
}